<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="#"/>
</head>
<body>
<h1>index</h1>
<div th:if="${session.account != null}">
    <span th:text="${session.account.username}+'欢迎回来！'"></span><a href="/logout">退出</a>
</div>
<a href="/main">游客</a> <br/>
<div shiro:hasPermission="manage">
    <a href="manage">会员</a>
    <a href="/sendMail">发送邮件</a>
</div>
<div shiro:hasRole="administrator">
    <a href="/administrator">大会员</a>
    <a href="/sendMail">发送邮件</a>
</div>



</body>
</html>